#bannerSugarCookie {
  width: 1288px;
  height: 243px;
  left: 113px;
  top: 155px;
  border-radius: 15px;
  position: absolute;
}
#pinksugarcookie {
  position: absolute;
  width: 340px;
  height: 340px;
  left: 155px;
  top: 472px;
}
#pinkRow1 {
  position: absolute;
  width: 323px;
  height: 40px;
  left: 170px;
  top: 810px;

  font-family: "Josefin Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 40px;
  /* identical to box height */

  text-align: center;

  color: #f7adb8;
}
#whitesugarcookie {
  position: absolute;
  width: 340px;
  height: 340px;
  left: 586px;
  top: 472px;
}
#snowRow1 {
  position: absolute;
  width: 335px;
  height: 40px;
  left: 588px;
  top: 810px;

  font-family: "Josefin Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 40px;
  /* identical to box height */

  text-align: center;

  color: #000000;
}
#invisiblesugarcookie {
  position: absolute;
  width: 340px;
  height: 340px;
  left: 1017px;
  top: 472px;
}
#invisRow1 {
  position: absolute;
  width: 361px;
  height: 40px;
  left: 1007px;
  top: 810px;

  font-family: "Josefin Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 40px;
  /* identical to box height */

  text-align: center;

  color: rgba(0, 0, 0, 0.33);
}
#chocolatecookie {
  position: absolute;
  width: 340px;
  height: 340px;
  left: 155px;
  top: 886px;

  
}
#chocolateRow2 {
  position: absolute;
  width: 340px;
  height: 340px;
  left: 155px;
  top: 1226px;

  font-family: 'Josefin Sans';
font-style: normal;
font-weight: 400;
font-size: 40px;
line-height: 40px;
/* identical to box height */

text-align: center;

color: #8D726C;
}
#redcookie {
  position: absolute;
  width: 340px;
  height: 340px;
  left: 586px;
  top: 886px;
}
#redRow2 {
    position: absolute;
    width: 357px;
    height: 40px;
    left: 576px;
    top: 1226px;
    
    font-family: 'Josefin Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 40px;
    /* identical to box height */
    
    text-align: center;
    
    color: #BB3737;
}
#matchacookie {
  position: absolute;
  width: 340px;
  height: 340px;
  left: 1017px;
  top: 886px;
}
#matchaRow2 {
    position: absolute;
    width: 381px;
    height: 40px;
    left: 996px;
    top: 1226px;
    
    font-family: 'Josefin Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 40px;
    /* identical to box height */
    
    text-align: center;
    
    color: #656C31;
}
#bluemacaron {
  position: absolute;
  width: 340px;
  height: 340px;
  left: 155px;
  top: 1300px;
}
#blueRow3 {
    position: absolute;
    width: 148px;
    height: 40px;
    left: 256px;
    top: 1642px;
    
    font-family: 'Josefin Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 40px;
    /* identical to box height */
    
    text-align: center;
    
    color: #647C80;
    
}
#pinkmacaron {
  position: absolute;
  width: 340px;
  height: 340px;
  left: 586px;
  top: 1300px;
}
#pinkRow3 {
    position: absolute;
    width: 228px;
    height: 40px;
    left: 640px;
    top: 1642px;
    
    font-family: 'Josefin Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 40px;
    /* identical to box height */
    
    text-align: center;
    
    color: #BB3737;
}
#yellowmacaron {
  position: absolute;
  width: 340px;
  height: 340px;
  left: 1017px;
  top: 1300px;
}
#yellowRow3 {
    position: absolute;
    width: 302px;
    height: 40px;
    left: 1035px;
    top: 1642px;
    
    font-family: 'Josefin Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 40px;
    /* identical to box height */
    
    text-align: center;
    
    color: #D5C33D;
}
#obama {
  position: absolute;
  width: 340px;
  height: 340px;
  left: 155px;
  top: 1714px;
}
#obamaRow4 {
    position: absolute;
    width: 257px;
    height: 40px;
    left: 202px;
    top: 2058px;
    
    font-family: 'Josefin Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 40px;
    /* identical to box height */
    
    text-align: center;
    
    color: #7CC08B;
}
#trump {
  position: absolute;
  width: 340px;
  height: 340px;
  left: 586px;
  top: 1714px;
}
#trumpRow4 {
    position: absolute;
    width: 235px;
    height: 40px;
    left: 637px;
    top: 2058px;
    
    font-family: 'Josefin Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 40px;
    /* identical to box height */
    
    text-align: center;
    
    color: #F8BD27;
}
#biden {
  position: absolute;
  width: 340px;
  height: 340px;
  left: 1017px;
  top: 1714px;
}
#bidenRow4 {
    position: absolute;
    width: 104px;
    height: 40px;
    left: 1134px;
    top: 2058px;
    
    font-family: 'Josefin Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 40px;
    /* identical to box height */
    
    text-align: center;
    
    color: #3574ED;
}
